<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hibernate_dynamic_CRUD_practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyServlet</display-name>
    <servlet-name>DestroyServlet</servlet-name>
    <servlet-class>DestroyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyServlet</servlet-name>
    <url-pattern>/DestroyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CServlet</display-name>
    <servlet-name>CServlet</servlet-name>
    <servlet-class>hibernate_dynamic_practice.CServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CServlet</servlet-name>
    <url-pattern>/CServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FServlet</display-name>
    <servlet-name>FServlet</servlet-name>
    <servlet-class>hibernate_dynamic_practice.FServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FServlet</servlet-name>
    <url-pattern>/FServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UServlet</display-name>
    <servlet-name>UServlet</servlet-name>
    <servlet-class>hibernate_dynamic_practice.UServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UServlet</servlet-name>
    <url-pattern>/UServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DServlet</display-name>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>hibernate_dynamic_practice.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>
</web-app>